{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="reportlanding">
            <div class="intro"> {{ content }} </div>
            {% for page in pages("analysis")|sort_by("title") %}
                    <div class="report-box {{page.title}}">
                        <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
                        {{ page.id|content }}
                    </div>     
            {% endfor %}
        </div>  
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
